/* EMBEDDING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.miama-font{
    font-family: "Miama", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* UNIVERSALLY SHARED STYLES STARTS */
body{
    margin: 0 auto;
    padding: 0;
}
main{
    margin: 0 auto;
    padding: 6.94444444vw 13.75vw 6.11111111vw;
}
/* flex display */
.flex-display{
    display: flex;
}
/* grid display */
.grid-display{
    display: grid;
}
/* background colors */
.bg-color-01{
    background-color: black;
}
.bg-color-02{
    background-color: rgb(34, 34, 34);
}
.bg-color-03{
    background-color: rgba(255, 255, 255, 0.1);
}
/* font colors */
.font-color-01{
    color: rgba(255, 255, 255, 0.5);
}
.font-color-02{
    color: rgba(255, 255, 255, 1);
}
.font-color-03{
    color: rgba(255, 255, 255, 0.65);
}
.font-color-04{
    color: rgba(250, 250, 249, 1);
}
.font-color-05{
    color: rgba(239, 237, 232, 0.65);
}
.font-color-06{
    color: rgba(255, 255, 255, 0.60);
}
.orange-color{
    color: rgba(230, 83, 60, 1);
}
/* font sizes */
.font-size-01{
    font-size: 0.97222222vw;
}
.font-size-02{
    font-size: 1.25vw;
}
.font-size-03{
    font-size: 3.33333333vw;
}
.font-size-04{
    font-size: 1.11111111vw;
}
.font-size-05{
    font-size: 1.38888888vw;
}
.font-size-06{
    font-size: 1.94444444vw;
}
.font-size-07{
    font-size: 2.22222222vw;
}
/* button */
.btn-primary{
    padding: 1.11111111vw 3.26388888vw;
    border: none;
    border-radius: 2.91666666vw;
    background-color: rgba(230, 83, 60, 1);
    color: white;
    font-weight: 600;
    font-size: 1.25vw;
}
/* UNIVERSALLY SHARED STYLES ENDS */
/* navbar & banner part related styling starts */
/* navbar related styling starts */
nav{
    margin: 0;
    padding: 3.95833333vw 13.19444444vw 2.22222222vw;
}
nav>ul{
    width: 73.61111111vw;
    margin: 0;
    padding: 0;
    gap: 26.15277777vw;
    align-items: center;
    justify-content: center;
}
.logo{
    list-style: none;
    font-size: 2.22222222vw;
    font-weight: 800;
}
.nav-items{
    margin: 0;
    padding: 0;
    border: 0.06944444vw solid rgba(255, 255, 255, 0.1);
    border-radius: 2.70833333vw;
    gap: 3.26388888vw;
    align-items: center;
}
.nav-items>li{
    list-style: none;
    margin: 0.27777777vw;
    padding: 0.55555555vw 1.38888888vw;
}
.btn-home{
    margin: 0.27777777vw;
    padding: 0.55555555vw 1.38888888vw;
    border: none;
    border-radius: 2.91666666vw;
    background-color: rgba(230, 83, 60, 1);
    color: white;
    font-weight: 600;
    font-size: 1.25vw;
}
/* navbar related styling ends */
/* banner related styling starts */
.banner{
    margin: 0 auto;
    background: linear-gradient(0deg, rgba(17, 17, 17,1), rgba(119, 119, 119, 1), rgba(17,17,17,1));
}
.banner-description{
    margin: 0 auto;
    width: 71.94444444vw;
    height: 40.27777777vw;
    gap: 11.59722222vw;
    justify-content: center;
}
.banner-text{
    margin-top: 4.44444444vw;
    text-align: left;
}
.banner-text h6{
    margin: 0;
    font-size: 5.41666666vw;
    font-weight: 900;
    line-height: 120%;
}
.miama-font{
    font-size: 11.11111111vw;
}
.banner-text p{
    margin: 1.94444444vw 0;
}
.banner-btn{
    gap: 0.97222222vw;
}
.btn-download{
    border: 0.06944444vw solid;
    border-radius: 2.91666666vw;
    padding: 1.11111111vw 3.26388888vw;
    background-color: black;
    color: white;
    font-weight: 600;
    font-size: 1.25vw;
}
#banner-bg-img{
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#p-total-videos{
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}
#total-videos-p{
    font-size: 2.77777777vw;
    font-weight: 800;
}
#total-videos-p-text{
    font-size: 0.90277777vw;
}
.total-videos{
    width: 10.40277777vw;
    height: 5.80555555vw;
    margin: 7.68055555vw -5.13888888vw 13.75vw 16.97222222vw;
    border: none;
    border-radius: 0.83333333vw;
    padding: 1.11111111vw 1.52777777vw;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20);
    justify-content: center;
    align-items: center;
}
.play-tutorials{
    align-items: center;
    justify-content: center;
    gap: 0.83333333vw;
}
.play-tutorials img{
    width: 2.77777777vw;
    height: 2.77777777vw;
}
#p-tutorial-videos{
    width: 8.40277777vw;
    height: 4.80555555vw;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
}
#tutorial-videos-p{
    font-size: 1.66666666vw;
    font-weight: 800;
}
.tutorial-videos{
    width: 12.30555555vw;
    height: 4.66666666vw;
    margin: 13.75vw 17.77777777vw 4.375vw -7.84722222vw;
    border: none;
    border-radius: 0.83333333vw;
    padding: 1.38888888vw 1.59722222vw;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20);
}
/* for extra small devices */
@media screen and (max-width: 576px) {
    .banner{
        padding: 5.089058524vw 5.089058524vw 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .miama-font{
        font-size: 24.160305344vw;
    }
    nav{
        margin: 0 auto;
        padding: 0;
        width: 89.82188295vw;
    }
    nav>ul{
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }
    .logo{
        font-size: 9.160305344vw;
    }
    .nav-items{
        display: none;
    }
    .banner-description{
        margin: 5.089058524vw auto 0;
        flex-direction: column;
        justify-content: center;
        gap: 4.580152672vw;
        width: 89.82188295vw;
        height: auto;
    }
    .banner-text{
        margin: 0;
    }
    .banner-text h6{
        font-size: 10.160305344vw;
    }
    .banner-text p{
        margin: 7.124681934vw 0;
        font-size: 4.071246819vw;
    }
    .banner-btn .btn-primary, .btn-download{
        border: 0.2544529262vw solid;
        border-radius: 10.6870229vw;
        padding: 4.071246819vw 4.95928753vw;
        font-size: 4.580152672vw;
    }
    .banner-btn{
        gap: 3.562340967vw;
    }
    .total-videos{
        width: 32.11704835vw;
        height: 17.27226463vw;
        border-radius: 3.053435115vw;
        padding: 4.071246819vw 5.597964377vw;
        margin: 12.21374046vw 3.307888041vw 38.16793893vw 46.61832061vw;
    }
    #total-videos-p{
        font-size: 10.17811705vw;
    }
    #total-videos-p-text{
        font-size: 3.303888041vw;
    }
    .tutorial-videos{
        width: 45.08905852vw;
        height: 17.09923664vw;
        border-radius: 3.053435115vw;
        padding: 5.089058524vw 5.852417303vw;
        margin: 38.16793893vw 47.07379135vw 62.08651399vw 3.053435115vw;
    }
    .play-tutorials{
        gap: 3.053435115vw;
    }
    .play-tutorials img{
        width: 10.17811705vw;
        height: 10.17811705vw;
    }
    #p-tutorial-videos{
        width: 30.78880407vw;
        height: 17.60814249vw;
    }
    #tutorial-videos-p{
        font-size: 6.106870229vw;
    }
    .tutorial-p-videos{
        font-size: 4.071246819vw;
    }
}
/* banner related styling ends */
/* habit related styling starts */
.habits{
    width: 72.5vw;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habits>h3{
    margin: 0 0 0.97222222vw;
    font-weight: 900;
    text-align: center;
}
.habits>p{
    margin: 0 0 4.02777777vw;
    padding: 0;
    text-align: center;
}
.habits-names{
    grid-template-columns: repeat(4,1fr);
    column-gap: 2.77777777vw;
}
/* .habits-names{
    gap: 2.77777777vw;
}
    here first - display is set to flex but works same as grid */
.indv-habit-name{
    text-align: center;
}
.indv-habit-name h6{
    margin: 2.08333333vw 0 0.41666666vw;
}
.indv-habit-name p{
    margin: 0;
    padding: 0;
}
.circled-image{
    width: 12.56944444vw;
    height: 12.5vw;
    border: none;
    clip-path: circle(50%);
}
/* for extra small devices */
@media screen and (max-width: 576px) {
    main{
        padding: 5.089058524vw 5.089058524vw 5.089058524vw;
    }
    .habits{
        width: 89.82188295vw;
    }
    .habits>h3{
        margin: 0 0 3.562340967vw;
        font-size: 8.142493639vw;
    }
    .habits>p{
        margin: 0 0 14.75826972vw;
        font-size: 3.562340967vw;
    }
    .habits-names{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
        row-gap: 10.17811705vw;
        column-gap: 0;
    }
    /* .habits-names{
        flex-direction: column;
        gap: 10.17811705vw;
    }
        here first - display is set to flex but works same as grid */
    .indv-habit-name h6{
        margin: 7.633587786vw 0 1.526717557vw;
        font-size: 4.580152672vw;
    }
    .indv-habit-name p{
        margin: 0;
        padding: 0;
        font-size: 3.562340967vw;
    }
    .circled-image{
        width: 46.05597964vw;
        height: 45.80152672vw;
        border: none;
        clip-path: circle(50%);
    }
}
/* habit related styling ends */
/* run extra mile related styling starts */
.run-miles{
    margin: 6.94444444vw auto 0;
    padding: 2.75vw;
    gap: 12.45833333vw;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1.25vw;
}
.extra-miles>h4{
    margin: 0;
    padding: 0;
    font-weight: 900;
}
.extra-miles>p{
    margin: 0.97222222vw 0 2.36111111vw;
    padding: 0;
}
.run-image{
    width: 25.41666666vw;
    aspect-ratio: 61/52;
    align-items: center;
    border: none;
    border-radius: 1.25vw;
}
/* for extra small devices */
@media screen and (max-width: 576px) {
    .run-miles{
        margin: 16.79389313vw auto 0;
        padding: 8.142493639vw;
        flex-direction: column;
        gap: 7.633587786vw;
        border-radius: 4.580152672vw;
    }
    .extra-miles>h4{
        font-size: 8.142493639vw;
    }
    .extra-miles>p{
        margin: 3.562340967vw 0 6.106870229vw;
        font-size: 3.562340967vw;
    }
     .run-image{
        display: none;
        width: 0;
        aspect-ratio: 0;
        border: none;
        border-radius: 0;
     }
     .extra-bg-img{
        width: 73.02798982vw;
        aspect-ratio: 287/170;
        border: none;
        border-radius: 4.580152672vw;
        background-image: url(../images/run-resized2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

     }
    .btn-primary-run{
        padding: 4.071246819vw 25.95419847vw;
        border-radius: 10.6870229vw;
        font-size: 4.580152672vw;
    }
}
/* run extra mile related styling ends */
/* bmi calculator part styling starts */
#bmi{
    margin: 6.111111111vw auto 0;
    padding: 0;
}
#bmi-heading{
    margin: 0 auto 4.111111111vw;
    width: 46.597222222vw;
    aspect-ratio: 671/120;
    text-align: left;
}
#bmi-heading>h5{
    margin: 0;
    padding: 0;
    font-weight: 900;
}
#bmi-heading>p{
    margin: 0.972222222vw 0 0 0;
    padding: 0;
}
.calculator{
    padding: 2.777777777vw;
    gap: 3.125vw;
    justify-content: center;
    align-items: flex-start;
    border: none;
    border-radius: 1.25vw;
}
.chart-table{
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}
.chart-table>h6{
    margin: 0 0 3.611111111vw 0;
    padding: 0;
    font-weight: 900;
}
table{
    border-collapse: collapse;
    width: 21.527777777vw;
}
th, td{
    border: 0.06944444vw solid rgba(255, 255, 255, 0.2);
    padding: 0.9027777777vw 1.25vw;
    text-align: left;
}
th{
    font-weight: 500;
}
.calculate-input>h6{
    margin: 0;
    padding: 0;
    font-weight: 900;
}
.calculate-input>p{
    margin: 0.972222222vw 0 2.361111111vw;
    padding: 0;
}
.bmi-btn{
    margin: 2.361111111vw 0 0 0;
    padding: 0;
}
.info-required{
    grid-template-columns: repeat(2,19.618055555vw);
    grid-template-rows: repeat(3,3.333333333vw);
    column-gap: 0.833333333vw;
    row-gap: 0.833333333vw;
}
.info-items{
    border: none;
    border-radius: 0.555555555vw;
    margin: 0;
    padding: 0.833333333vw 1.388888888vw;
    background-color: rgba(255, 255, 255, 0.1);
}
#SAAF{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}
/* for extra small devices */
@media screen and (max-width: 576px) {
    #bmi{
        margin: 7.633587786vw auto 0;
    }
    #bmi-heading{
        margin: 0 auto 7.633587786vw;
        width: 89.82188295vw;
        aspect-ratio: 353/124;
    }
    #bmi-heading>h5{
        font-size: 8.142493639vw;
    }
    #bmi-heading>p{
        margin: 3.562340967vw 0 0 0;
        font-size: 3.562340967vw;
    }
    .calculator{
        padding: 6.03562341vw 5.03562341vw 6.03562341vw;
        flex-direction: column;
        gap: 10.17811705vw;
        align-items: center;
        border-radius: 4.071246819vw;
    }
    .chart-table>h6{
        margin: 3.816793893 0 5.089058524vw 0;
        font-size: 4.071246819vw;
    }
    table{
        width: 78.88040712vw;
    }
    .font-size-mq-th{
        font-size: 4.071246819vw;
    }
    .font-size-mq-td{
        font-size: 3.562340967vw;
    }
    th, td{
        border: 0.2544529262vw solid rgba(255, 255, 255, 0.2);
        padding: 3.307888041vw 4.580152672vw;
    }
    .calculate-input>h6{
        font-size: 4.071246819vw;
    }
    .calculate-input>p{
        margin: 3.562340967vw 0 8.651399491vw;
        font-size: 3.562340967vw;
    }
    .bmi-btn{
        margin: 8.651399491vw 0 0 0;
    }
    .btn-primary-bmi{
        padding: 4.071246819vw 17.81170483vw;
        border-radius: 10.6870229vw;
        font-size: 4.580152672vw;
    }
    .info-required{
        grid-template-columns: repeat(2,38.51978317vw);
        grid-template-rows: repeat(3,12.21374046vw);
        column-gap: 3.053435115vw;
        row-gap: 3.053435115vw;
    }
    .info-items{
        border-radius: 2.03562341vw;
        padding: 3.307888041vw 5.089058524vw;
        font-size: 4.071246819vw;
    }
}
/* bmi calculator part styling ends */
/* team part styling starts */
.team{
    margin: 6.111111111vw auto 0;
    padding: 0;
    width: 73.611111111vw;
}
.team-heading{
    margin: 0 auto 4.027777777vw;
    padding: 0;
    text-align: center;
}
.team-heading>h5{
    margin: 0;
    padding: 0;
    font-weight: 900;
}
.team-heading>p{
    margin: 0.972222222vw 0 0;
    padding: 0;
}
.team-members{
    padding: 1.388888888vw;
    grid-template-columns: repeat(3, calc((73.611111111vw - 5.555555555vw) / 3));
    grid-template-rows: repeat(2, calc((41.944444444vw - 4.166666666vw) / 2));
    column-gap: 1.388888888vw;
    row-gap: 1.388888888vw;
    justify-items: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 1.25vw;
}
.member-bg-img-01{
    background-image: url(../images/trainer1.png);
}
.member-bg-img-02{
    background-image: url(../images/trainer2.png);
}
.member-bg-img-03{
    background-image: url(../images/trainer3.png);
}
.member-bg-img-04{
    background-image: url(../images/trainer4.png);
}
.member-bg-img-05{
    background-image: url(../images/trainer5.png);
}
.member-bg-img-06{
    background-image: url(../images/trainer6.png);
}
.t-bg-features{
    width: 22.685416666vw;
    height: 18.888888888vw;
    border: none;
    border-radius: 1.25vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.t-member{
    margin: 14.722222222vw auto 1.111111111vw 1.319444444vw;
    padding: 0;
    text-align: left;
}
.t-member>h6{
    margin: 0;
    padding: 0;
    font-weight: 900;
}
.t-member>p{
    margin: 0.208333333vw;
    padding: 0;
}
/* for extra small devices */
@media screen and (max-width: 576px) {
    .team{
        margin: 16.79389313vw auto 0;
        width: 89.82188295vw;
    }
    .team-heading{
        margin: 0 auto 9.41475827vw;
    }
    .team-heading>h5{
        font-size: 8.142493639vw;
    }
    .team-heading>p{
        margin: 3.562340967vw 0 0;
        font-size: 3.562340967vw;
    }
    .team-members{
        padding: 5.089058524vw;
        grid-template-columns: repeat(1, calc(89.82188295vw - 20.3562341vw));
        grid-template-rows: repeat(6, 69.21119593vw);
        justify-items: normal;
        column-gap: 0;
        row-gap: 5.089058524vw;
        border-radius: 4.580152672vw;
    }
    .t-bg-features{
        width: 79.6437659vw;
        height: 69.21119593vw;
        border-radius: 4.580152672vw;
    }
    .t-member{
        margin: 53.94402036vw auto 4.071246819vw 4.834605598vw;
    }
    .t-member>h6{
        font-size: 5.089058524vw;
    }
    .t-member>p{
        margin: 0.7633587786vw;
        font-size: 3.562340967vw;
    }
}
/* team part styling ends */
/* footer styling starts */
footer{
    margin: 0 auto;
    padding: 4.583333333vw 13.194444444vw 2.430555555vw;
}
.the-end{
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,17.361111111vw);
    column-gap: 5.416666666vw;
}
.end-logo{
    font-size: 4.861111111vw;
    font-weight: 900;
}
.footer-text{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}
.footer-text>h5{
    margin: 0;
    padding: 0;
}
.footer-text>p{
    margin: 1.388888888vw 0 0 0;
    padding: 0;
}
.service-lists{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.service-lists>ul>.list-head{
    margin: 0 0 1.388888888vw 0;
    font-weight: 800;
}
.service-lists>ul{
    margin: 0;
    padding: 0;
    flex-direction: column;
    gap: 1.388888888vw;
    justify-content: flex-start;
    text-align: left;
}
.service-lists>ul>li{
    list-style: none;
}
.service-lists>ul>.list-item{
    font-size: 0.972222222vw;
    color: rgba(255, 255, 255, 0.5);
}
hr{
    margin: 0;
}
.copyright{
    margin: 2.430555555vw 0 0 0;
    padding: 0;
    text-align: center;
    font-size: 0.833333333vw;
}
/* for extra small devices */
@media screen and (max-width: 576px) {
    footer{
        margin: 0 auto;
        padding: 5.089058524vw;
    }
    .the-end{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,63.61323155vw);
        row-gap: 6.361323155vw;
    }
    .end-logo{
        font-size: 17.81170483vw;
    }
    .footer-text{
        justify-content: center;
    }
    .footer-text>p{
        margin: 5.089058524vw 0 0 0;
        font-size: 3.562340967vw;
    }
    .service-lists{
        align-items: flex-start;
    }
    .service-lists>ul>.list-head{
        margin: 0 0 5.089058524vw 0;
        font-size: 8.142493639vw;
    }
    .service-lists>ul{
        gap: 5.089058524vw;
    }
    .service-lists>ul>.list-item{
        font-size: 5.852417303vw;
        color: rgba(255, 255, 255, 0.5);
    }
    hr{
        margin: 5.089058524vw 0 0 0;
    }
    .copyright{
        margin: 5.089058524vw 0 0 0;
        font-size: 3.053435115vw;
    }
}
/* footer styling ends */