/* EMBEDDING FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.miama-font{
    font-family: "Miama", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* UNIVERSALLY SHARED STYLES STARTS */
body{
    margin: 0 auto;
    padding: 0;
}
main{
    margin: 0 auto;
    padding: 6.94444444vw 13.75vw 6.11111111vw;
}
/* flex display */
.flex-display{
    display: flex;
}
/* grid display */
.grid-display{
    display: grid;
}
/* background colors */
.bg-color-01{
    background-color: black;
}
.bg-color-02{
    background-color: rgb(34, 34, 34);
}
.bg-color-03{
    background-color: rgba(255, 255, 255, 0.1);
}
/* font colors */
.font-color-01{
    color: rgba(255, 255, 255, 0.5);
}
.font-color-02{
    color: rgba(255, 255, 255, 1);
}
.font-color-03{
    color: rgba(255, 255, 255, 0.65);
}
.font-color-04{
    color: rgba(250, 250, 249, 1);
}
.font-color-05{
    color: rgba(239, 237, 232, 0.65);
}
.font-color-06{
    color: rgba(255, 255, 255, 0.60);
}
.orange-color{
    color: rgba(230, 83, 60, 1);
}
/* font sizes */
.font-size-01{
    font-size: 0.97222222vw;
}
.font-size-02{
    font-size: 1.25vw;
}
.font-size-03{
    font-size: 3.33333333vw;
}
.font-size-04{
    font-size: 1.11111111vw;
}
.font-size-05{
    font-size: 1.38888888vw;
}
.font-size-06{
    font-size: 1.94444444vw;
}
.font-size-07{
    font-size: 2.22222222vw;
}
/* button */
.btn-primary{
    padding: 1.11111111vw 3.26388888vw;
    border: none;
    border-radius: 2.91666666vw;
    background-color: rgba(230, 83, 60, 1);
    color: white;
    font-weight: 600;
    font-size: 1.25vw;
}
/* UNIVERSALLY SHARED STYLES ENDS */